@page "/MediaDetails/{Id}"
@attribute [Authorize]
@inject ILoggedInUserModel loggedInUser
@inject IMediaFileEndpoint mediaFileEndpoint
@inject IVideoEndpoint videoEndpoint
@inject IUserEndpoint userEndpoint
@inject NavigationManager navManager

@if (media is not null)
{
    <MatCard Class="mb-4">
        <MatCardContent>
            <div class="close-button-section">
                <button class="btn btn-close" @onclick="ClosePage"></button>
            </div>
            @if (string.IsNullOrWhiteSpace(videoSource) is false)
            {
                <div class="text-center">
                    <video controls height="800" width="1000">
                        <source src="@videoSource" type="video/mp4">
                    </video>
                </div>
            }
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    @media.Title
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin custom-pointer" @onclick="LoadAuthorPage">
                    by @media.Author.DisplayName
                    <MatDivider />
                    Uploaded the @media.DateCreated.ToString("MM/dd/yyyy")
                </MatSubtitle2>
            </div>
            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                @media.Description
            </MatBody2>
        </MatCardContent>
        <MatCardActions>
            <MatCardActionButtons>
                @if (loggedInUser.Id != media.Author.Id)
                {
                    <MatButton Class="@GetSubscribeColor()" @onclick="Subscribe">Subscribe</MatButton>
                }
                else
                {
                    <MatButton @onclick="LoadEditPage">Edit</MatButton>
                }
            </MatCardActionButtons>
            <MatCardActionIcons>
                <MatIconButton Class="@GetVoteColor()" Icon="@MatIconNames.Favorite" @onclick="VoteUp"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
            </MatCardActionIcons>
        </MatCardActions>
    </MatCard>
}


