@page "/MediaEdit/{Id}"
@attribute [Authorize]
@inject ILoggedInUserModel loggedInUser
@inject IMediaFileEndpoint mediaFileEndpoint
@inject IGenreEndpoint genreEndpoint
@inject IFileStorage fileStorage
@inject NavigationManager navManager

<h1 class="page-heading mb-2">Your Videos</h1>

@if (media is not null)
{
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12">
            <MatCard Class="w-100">
                <div class="close-button-section">
                    <button class="btn btn-close" @onclick="ClosePage"></button>
                </div>
                @if (string.IsNullOrWhiteSpace(sourcePath))
                {
                    <MatCardMedia Wide="true" ImageUrl="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available."/>
                }
                else
                {
                    <MatCardMedia Wide="true" ImageUrl="@sourcePath"/>
                }
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        @media.Title
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                        @media.Author.DisplayName
                        <MatDivider />
                        Published on the @media.DateCreated.ToString("mm/dd/yyyy")
                    </MatSubtitle2>
                </div>
                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    <MatCardActionButtons>
                        <MatButton @onclick="(() => isEditDialogOpen = true)">Edit Media</MatButton>
                    </MatCardActionButtons>
                </MatBody2>
            </MatCard>
        </div>
    </div>

    <MatDialog @bind-IsOpen="isEditDialogOpen">
        <MatCard Class="p-2">
            <MatCardContent>
                @if (string.IsNullOrWhiteSpace(sourcePath))
                {
                    <MatCardMedia Wide="true" ImageUrl="https://dummyimage.com/1200x900/000/ffffff&text=No+image+available."/>
                }
                else
                {
                    <MatCardMedia Wide="true" ImageUrl="@sourcePath"/>
                }
                <InputFile OnChange="LoadFile" class="form-control"/>
                <EditForm Model="editingMedia" OnValidSubmit="UpdateMedia">
                    <MatDialogTitle>Edit your information.</MatDialogTitle>
                    <MatDialogContent>
                        <div class="mb-3">
                            <MatStringField @bind-Value="editingMedia.Title" Label="Media" 
                                Required="true" Type="text" FullWidth="true"
                                HelperText="How would you like to name your media?" HelperTextPersistent="true"/>
                        </div>
                        <div class="mb-3">
                            <MatTextField @bind-Value="editingMedia.Description" Label="Description"
                                Required="true" TextArea="true" Type="text" FullWidth="true"
                                HelperText="Describe your media, what does it contain?" HelperTextPersistent="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="media-genre" class="form-label">Genres</label>
                            <div id="genre-help" class="form-text">Select a genre which best suits your media.</div>
                            @if (genres is not null)
                            {
                                <MatSelectValue @bind-Value="editingMedia.GenreId" Items="genres"
                                    ValueSelector="@(i=>i.Id)" Context="g" FullWidth="true">
                                    <ItemTemplate>
                                        <span>@g.GenreName</span>
                                    </ItemTemplate>
                                </MatSelectValue> 
                            }
                        </div>
                    </MatDialogContent>
                    <MatDialogActions Class="d-flex justify-content-between">
                        <div>
                            <MatButton Type="submit">Save</MatButton>
                            <MatButton Type="button" OnClick="(() => isEditDialogOpen = false)">
                                Cancel
                            </MatButton>
                        </div>
                        <div>
                            @if (archivingMedia is null)
                            {
                                <MatButton Type="button" @onclick="(() => archivingMedia = media)">
                                    Archive
                                </MatButton>
                            }
                            else
                            {
                                 <MatButton Type="button" @onclick="ArchiveMedia">
                                     Archive
                                 </MatButton>
                                 <MatButton Type="button" @onclick="(() => archivingMedia = null)">
                                     Cancel
                                 </MatButton>
                            }
                        </div>
                    </MatDialogActions>
               </EditForm>
            </MatCardContent>
        </MatCard>
    </MatDialog>
}

